@keyframes ulter-visibility{
    0%,70%,100%{
        opacity: 1;
    }
    60%,80%{
        opacity: .3;
    }
}

@keyframes attention-rotation{
    $deg:12deg;
    0%,86%,100%{
        transform: rotate(0)
    }
    87%,89%,91%,93%,95%,97%,99%{
        transform: rotate($deg)
    }
    88%,90%,92%,94%,96%,98%{
        transform: rotate(-$deg)
    }
}