* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: rgb(72, 139, 244);
    background: url(../assets/main-bg.png) 0% / cover;
    cursor: url(../assets/mouse-sword-36.png), auto;

    h2,
    h3 {
        font-family: $header-font;
    }

    h2 {
        font-size: 2rem;
        margin: 12px 0;
    }

    h3 {
        font-size: 1.2rem;
        margin: 8px 0;
    }

    p {
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .btn {
        font-family: $header-font;
        padding: 15px 20px;
        margin: 0 10px;
        // letter-spacing: 2px;
        border-radius: 5px;
        // box-shadow: inset -5px -4px 6px rgba(0, 0, 0, .7), 4px 4px 5px #000;
        transition: all .3s;

        &.btn-yellow {
            color: #fff;
            background-color: $yellow;

            &:hover {
                background-color: darken($yellow, 10);
            }

            &:active {
                background-color: darken($yellow, 20);
            }
        }

        &.btn-green {
            color: #fff;
            background-color: $green;

            &:hover {
                background-color: darken($green, 10);
            }

            &:active {
                background-color: darken($green, 20);
            }
        }

        &.btn-red {
            color: #fff;
            background-color: $red;

            &:hover {
                background-color: darken($red, 10);
            }

            &:active {
                background-color: darken($red, 20);
            }
        }

        &[disabled]{
            opacity: .5;
        }
    }

    .text-center {
        text-align: center
    }

    .text-white {
        color: #fff;
    }

    .text-violet {
        color: $violet;
    }

    .text-header {
        font-family: $header-font;
    }

    .text-border {
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .btn-pointer {
        cursor: url(../assets/pointer-36.png), pointer;
    }

    .not-allowed {
        cursor: not-allowed;
    }

    #app {
        #main-gradient {
            @include initPos(fixed, true);
            background: radial-gradient(circle, rgba(0, 0, 0, 0) 0, #131313 100%);
            z-index: -1;
            animation: ulter-visibility 20s infinite;
        }
    }
}