* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: rgb(72, 139, 244);
    background: url(../assets/main-bg.png) 0% / cover;
    cursor: url(../assets/mouse-sword.png), auto;

    h2,h3{
        font-family: $header-font;
    }

    h2 {
        font-size: 2rem;
        margin: 12px 0;
    }

    h3{
        font-size: 1.2rem;
        margin: 8px 0;
    }

    p{
        font-size: 1rem;
        margin-bottom: 12px;
    }

    .text-center{
        text-align: center
    }

    .text-white {
        color: #fff;
    }

    .text-violet{
        color: $violet;
    }

    .text-header{
        font-family: $header-font;
    }

    .text-border {
        text-shadow:
            3px 3px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }

    .btn-pointer{
        cursor: pointer;
    }

    #app {
        #main-gradient {
            @include initPos(fixed, true);
            background: radial-gradient(circle, rgba(0, 0, 0, 0) 0, #131313 100%);
            z-index: -1;
            animation: ulter-visibility 20s infinite;
        }
    }
}