#deck-ctrl {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $header-font;
    perspective: 1000px;

    #deck {
        width: 747px;
        height: 664px;
        background: url("../assets/deck-bg.jpg") no-repeat;
        border-radius: 14px;
        padding: 21px 53px;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        #deck-reflection {
            position: absolute;
            top: 0;
            left: -120px;
            height: 100%;
            width: 60%;
            background-color: rgba(255, 255, 255, .07);
            transform: skewX(10deg);
            z-index: -1;
        }

        h2,
        #elixir-cost {
            padding: 0 12px;

            img {
                height: 52px;
                margin-left: 12px;
                margin-bottom: -18px;
                animation: attention-rotation 10s infinite;
            }
        }
    }

    #deck-btns-ctrl {
        position: relative;

        button {
            padding: 15px 20px;
            margin: 0 10px;
            letter-spacing: 2px;
            border-radius: 5px;
            box-shadow: inset -5px -4px 6px rgba(0, 0, 0, .7), 4px 4px 5px #000;
            transition: all .3s;
        }

        #generate-random {
            background-color: $yellow;

            &:hover {
                background-color: darken($yellow, 10);
            }

            &:active {
                background-color: darken($yellow, 20);
            }
        }

        #custom-builder{
            background-color: $green;

            &:hover {
                background-color: darken($green, 10);
            }

            &:active {
                background-color: darken($green, 20);
            }
        }
    }
}


#custom-deck-container{
    .cards-container{
        grid-template-columns: repeat(8, auto);

        li{
            &.chosen{
                opacity: .6;
            }
        }
    }
}