@font-face{
    font-family: "Supercell-magic";
    font-style: normal;
    src: url('../fonts/Supercell-magic-webfont.ttf')
}

@font-face{
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face{
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf')
}

@font-face{
    font-family: "Robot", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf')
}