#popup {
    @include initPos(fixed, true);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    animation: fade-in .3s;
    overflow-x: hidden;
    overflow-y: auto;

    #popup-body {
        max-width: 70%;
        min-width: 700px;
        background-color: #fff;
        border-radius: 7px;
        padding: 15px;
        opacity: 0;
        animation: slide-down 0.4s .2s forwards;

        #popup-close {
            float: right;
        }

        h2 {
            margin-bottom: 20px;
        }
    }

    &.fade-out {
        transition: opacity .3s .3s;
        opacity: 0;

        #popup-body {
            animation: slide-up .4s;
        }

    }
}